body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}
.header {
    background-color: #222;
    color: #fff;
    padding: 30px 10px;
    text-align: center;
}
footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
}
video {
    width: 600px;
}
nav{
    background-color: #222;
}
.navbar {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.navbar li {
    margin: 40px 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #222;
    color: #00ffff;
}

form{
    border-radius: 2px 5px;
}